# Aliases

[ -r ~/.git_aliases ] && source ~/.git_aliases
[ -r ~/.bash_aliases ] && source ~/.bash_aliases

alias vmode="set -o vi"
alias emode="set -o emacs"
alias ls="ls --color=auto"
alias la="ls -a"
alias ll="ls -la"

