# Aliases

[ -r ~/.bash_aliases ] && source ~/.bash_aliases
[ -r ~/dotfiles/.git_aliases ] && source ~/dotfiles/.git_aliases

# Check for trailing spaces in files
alias tspace="egrep -irn \"^.*[^ ].*[ ]+$\""

alias vmode="set -o vi"
alias emode="set -o emacs"
alias ls="ls --color=auto"
alias la="ls -a"
alias ll="ls -la"
alias lh="ls .[!.]* -d"

